.MTrimmedWindow.topLevel { 
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.MTrimBar {
    background-color:  #fffed5 #ffffff 100%;	
}

.taskList {
	background-color: #FFF #EEE 100%;
}

.taskHeader {
	background-color: #fffed5 #ffffff 100% 
}